.App{
  background-color:rgb(255, 255, 255);
  
}

.name{
  padding-left: 20px;
  width: 90%;
  margin-top: 10px;
  border-radius: 10px;
  z-index: 3;
  padding: 15px;
  padding-inline: 10px;
  color: rgb(0, 0, 0);
  font-size:x-large;
  font-family: monospace;
  position: relative;
  white-space: nowrap;
  font-size: large;
}

.cname{
  display: flex;
  justify-content: space-between;
}

.Appm{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.marquee {
  margin: 0 auto;
  overflow: hidden;
  position: absolute;
  white-space: nowrap; /* Ensure text stays in a single line */
  width: 100%;
  font-size: 50vh;
}

.marquee span {
  display: inline-block;
  padding-left: 100%;
  animation: marquee 100s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-100%, 0);
  }
}



.field {
  position: absolute;
	width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: end;
}

.scroll {
  z-index: 7;
	width: 60px;
	height: 60px;
	border: 3px solid #000000;
	border-radius: 50%;
	position: relative;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
	&::before {
		content: '';
		position: absolute;
		top: 18px;
		left: 18px;
		width: 18px;
		height: 18px;
		border-left: 3px solid #000000;
  	border-bottom: 3px solid #000000;
		transform: rotate(-45deg);
	}
}

@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(-25px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


@keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

@-webkit-keyframes scroll {
	0% {
		height: 40px;
	}
	30% {
		height: 70px;
	}
	60% {
		height: 40px;
	}
}

.ccontainer {
    z-index: 1;
    display: flex;
    flex-direction: column; /* Use 'flex-direction: column' to stack items vertically */
    justify-content: end;
    align-items: center;
    height: 100vh;
/* Set the height of the container to full viewport height */
  }

.cimage {

  height: 100%; /* Ensure the image does not exceed the width of the container */
}

@media (max-width: 700px) {
  .cimage {
    max-width: 100%;
    height: auto; /* Ensure the image does not exceed the width of the container */
  }
  .Appm{
    max-height: 70%;
  }
}

.navbar{
  position: absolute !important;
  width: 100%;
  margin-top: 2%;
  margin-inline: 2%;
}


.resume-link {
  color: inherit; /* Use the default text color */
  text-decoration: none; /* Remove underline */
}

.resume-link:hover {
  color: inherit; /* Use the default text color on hover */
}