.scrolling-wrapper {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 2vw;
  padding-left: 0;
}

.scrolling-wrapper-flexbox {
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.cardC {
  display: inline-block;
  flex: 0 0 auto;
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
}

.scrolling-wrapper::-webkit-scrollbar {
  display: none;
}

.cardC{
  height: 400px;
  width: 350px;
  margin: 2vw;
  border-radius: 15px;
  position: relative;
  padding: 20px;
  z-index: 1;
  box-shadow: 10px 7px 18px rgb(104 104 104); /* Initial shadow */
  transition: transform 0.6s, box-shadow 14s;
}

.main_c{
  background-color: white;
  position: absolute;
  z-index: 0;
  height: 500px;
  width: 350px;
  width: auto;
  padding: 10px;
  padding-left: 20px;
  margin: 0%;

  box-shadow: 0 3px 12px white;
}

.main_c p{
  font-size: 100px;
  margin: 0;
  @media (max-width: 768px) {
    font-size: 15vw; 
  }
}

.sub_main_c{
  opacity: 0;
  box-shadow: 0 3px 12px white;
}


.cardC:hover {
  transform: scale(1.05); /* Slightly scale up on hover */
  box-shadow: 0 3px 12px rgba(0, 0, 0, 0.3); /* Darker shadow on hover */
  /* Additional styles for the dark background */
  box-shadow: inset 0px 21px 0px 176px rgb(0 0 0 / 76%);
  color: #fff;
}


.sub_main_c:hover {
  transform: scale(1);
  background-color: white;
  box-shadow: 0 0px 0px white;
}

.main_c:hover {
  transform: scale(1);
  background-color: white;
  color: black;
  box-shadow: 0 0px 0px white;
}

.mainP{
  margin-block-end: 10%;
}

.hiddenText {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.cardC:hover .hiddenText {
  display: block;
}

.custom-link {
  color: white; /* Set link color to white */
  text-decoration: none; /* Remove default underline */
}

.custom-link:hover {
  color: white; /* Maintain white color on hover */
}

.custom-link:visited {
  color: white; /* Maintain white color for visited links */
}